.contStart{
    background-color: #9e55bc;
    padding: 10px 0 10px 5%;
}

.contStart2{
    background-color: #80007a;
    padding: 7px 0 7px 10%;
    width: 40%;
}

.contStart, .contStart2{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#listaUsuarioBody, #listaGeneroBody, #albumBody, #temasBody, #listaGeneroGenBody, #albumGenBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.listaUser, .listaGenero, .album, .temazo, .listaGeneroGen, .albumGen{
    margin: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    background-color: #a241b6;
}

.imagenUser, .imagenGenero, .imagenAlbum, .listaUser div, .listaGenero div, .album div, .temazo div{
    width: 15vw;
    border-radius: 3px;
}

.imagenUser, .imagenGenero, .imagenAlbum{
    border: 2px solid black;
    height: 15vw;
    margin-top: 3px;
}

.listaUser div, .listaGenero div, .album div, .temazo div, .listaGeneroGen div, .albumGen div{
    margin-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.listaUser div p, .listaGenero div p, .album div p, .temazo div p, .listaGeneroGen div p, .albumGen div p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listaGeneroGen div, .albumGen div, .imagenGeneroGen, .imagenAlbumGen{
    width: 12vw;
    border-radius: 3px;
}

.imagenGeneroGen, .imagenAlbumGen{
    border: 2px solid black;
    height: 12vw;
    margin-top: 3px;
}

/*Resolucion de telefono*/
@media (max-width: 960px){
    .contStart{
        font-size: 3.5vw;
    }

    .contStart2{                    
        font-size: 3vw;
    }
    
    .listaUser div p, .listaGenero div p, .album div p, .temazo div p{
        font-size: 2.5vw;
    }
    
    .listaGeneroGen div p, .albumGen div p{
        font-size: 1.8vw;
    }
}

/*Resolucion de pc*/
@media (min-width: 960px) and (max-width: 1400px){
    .contStart{
        font-size: 2.5vw;
    }

    .contStart2{
        font-size: 2vw;
    }
    
    .listaUser div p, .listaGenero div p, .album div p, .temazo div p{
        font-size: 1.5vw;
    }
    
    .listaGeneroGen div p, .albumGen div p{
        font-size: 1.2vw;
    }
}

@media (min-width: 1400px){
    .contStart{
        font-size: 1.5vw;
    }

    .contStart2{
        font-size: 1vw;
    }
    
    .listaUser div p, .listaGenero div p, .album div p, .temazo div p{
        font-size: 1vw;
    }
    
    .listaGeneroGen div p, .albumGen div p{
        font-size: 0.9vw;
    }
}