.btnsPerfil{
    display: flex;
    justify-content: space-around; /* o space-around según tu necesidad */
    width: 100%; /* o el ancho que desees */
    background-color: #862f8c;
    border-width: 2px 0 2px 0;
    border-style: solid;
}

.btnsPerfil button{
    border-style: solid;
    border-width: 0 2px 0 2px;
    border-color: black;
    text-align: center;
    padding: 5px 10px 5px 10px;
    align-items: center;
    background-color: #b63ebe;
}

.btnsPerfil button:hover{
    background-color: #cf48d7;
}

.btnsPerfil button:active{
    background-color: #99339f;
}

#perfil {
    justify-self: center;
    padding: 15px;
    background-color: #b63ebe;
    display: grid;
    border-left: 2px solid;
    border-right: 2px solid;
}

#imagenPerfil {
    display: block; /* Cambia el display a block */
    margin: 0 auto; /* Centra la imagen */
}

#perfil h2, #perfil p{
    margin-bottom: 10px;
}

#nombre{
    margin-right: 1ch;
}

.contPerfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#seguidores, #seguidos, #listas, #favoritos, #albumes, .listFavs, .albFavs, .temFavs{
    background-color: #b63ebe;
    margin: 10px;
    border: 2px solid;
    padding: 15px;
}

.listFavs h3, .albFavs h3, .temFavs h3{
    align-self: center;
    margin-bottom: 10px;
}

table, table thead, table thead tr, table thead tr th, table tbody, table tbody tr, table tbody tr td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    background-color: #9e55bc
}

.listFavs table, .albFavs table, .temFavs table, .listFavs table tbody tr td button, .albFavs table tbody tr td button{
    width: 100%;
}

table tbody tr td button, table tbody tr td button{
    background-color: #b63ebe;
    border: 2px solid black;
}

table tbody tr td button:hover, table tbody tr td button:hover{
    background-color: #cf48d7;
}

table tbody tr td button:active, table tbody tr td button:active{
    background-color: #99339f;
}

.btnDetalles{
    text-align: right;
    background-color: black;
}

/*Resolucion de telefono*/
@media (max-width: 960px){
    .btnsPerfil button{
        font-size: 1.5vw;
    }
    
    #perfil{
        width: 80%;
        font-size: 2vw;
    }
    
    #imagenPerfil{
        width: 20vw;
    }
}

/*Resolucion de pc*/
@media (min-width: 960px){
    .btnsPerfil button{
        font-size: 1vw;
    }
    
    #perfil{
        max-width: 200ch;
    }
    
    #imagenPerfil{
        width: 300px;
    }
}