/* 
    Created on : Oct 16, 2024, 8:15:28 PM
    Author     : Nico
*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #333;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

a:visited {
    background-color: #6c757d;
}

a:active {
    background-color: #004085;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="file"],
input[type="password"],
button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    background-color: #28a745;
}

button[type="button"]:hover {
    background-color: #218838;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Estilos para botones dentro de la tabla */
td button {
    max-width: 150px;
    padding: 8px 12px;
    margin: 0;
}

/* Estilos para mensajes de resultado */
div#resultado {
    margin-top: 20px;
    font-weight: bold;
}

select {
    width: calc(100% - 20px); 
    margin-bottom: 10px; 
}
#selectedGeneros {
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 20px);
    margin-bottom: 15px;
    background-color: #f9f9f9;
    color: black;
    font-size: 16px;
    cursor: pointer; 
}
.genero-item {
    display: inline-block;
    background-color: #d1e7dd;
    border: 1px solid #0f5132;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
.tema {
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}