*{
    padding: 0;
    margin: 0;
    font-family: cursive;
    text-decoration: none;
    color: black;
}

html{
    scrollbar-color: #b63ebe #862f8c;
}

body{
    background-color: #562859;
}

.cuerpo{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

button{
    cursor: pointer;
    background: none;
    font: inherit;
    padding: 2px;
}

input{
    font: inherit;
}

ul{
    list-style: none;
}

.encaPrin{
    display: block;
    position: relative;
    align-items: center;
    background-color: #562859;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-color: black;
}

.EspotifyLogo{
    display: flex;
    align-items: center;
}

.busqueda{
    display: flex;
}

.barraBusqueda{
    width: 100%;
    padding: 5px 0 5px 5px;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.btnBusqueda{
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    box-shadow: 3px 3px black;
    background-color: #b63ebe;
    cursor: pointer;
}

.btnBusqueda:hover{
    background-color: #cf48d7;
}

.btnBusqueda:active{
    background-color: #99339f;
}

.userDiv{
    display: flex;
    position: absolute;
    right: 0;
    align-items: center;
}

.userIMG{
    width: 65px;
    margin-right: 20px;
}

.userName{
    display: flex;
    align-items: center;
}

.userName p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name{
    margin-right: 5px;
}

#abrirFormLogin, #logoutButton{
    border: 0px none;
    padding: 0;
}

.btnsEx{
    margin-left: 10%
}

.mainCon{
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.dinamico{
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #9e55bc;
}

.btnsNav{
    display: flex;
    justify-content: space-between; /* o space-around según tu necesidad */
    width: 100%; /* o el ancho que desees */
    border-bottom: 2px solid black;
    background-color: #862f8c;
}
    
.btnsNav a{
    flex: 1; /* Cada boton ocupa el mismo espacio */
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 15px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    align-items: center;
    background-color: #b63ebe;
    margin-bottom: 5px;
}

.btnsNav a:hover{
    background-color: #cf48d7;
}

.btnsNav a:active{
    background-color: #99339f;
}

.realDinamico{
    display: grid;
}

.reproductor{
    position: absolute;
    background-color: #9e55bc;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.temaRep{
    position: relative;
    text-align: center;
}

.temaRep h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.temaRep h3{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#progressBar{
    background-color: #862f8c;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: black;
    position: relative;
    cursor: pointer;
}

#progress{
    height: 100%;
    background-color: #b63ebe;
    width: 0;
}

.tiempos{
    position: relative;
    display: block;
}

#currentTime{
    position: absolute;
    left: 0;
}

#totalTime{
    position: absolute;
    right: 0;
}

.btnsMedia{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.btnsMedia button{
    overflow: hidden;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
}

#muteBtn, #unmuteBtn{
    overflow: hidden;
    display: flex;
    position: absolute;
    border-style: none;
    border-radius: 50%;
}

#muteBtn img, #unmuteBtn img{
    width: 30px;
}

#winLogin, #winSignup{
    background-color: #9e55bc;
    position: absolute; /* Usamos posición absoluta */
    left: 50%; /* Coloca el contenedor en el 50% desde la izquierda */
    transform: translate(-50%, -50%); /* Mueve el contenedor hacia arriba y hacia la izquierda por la mitad de su tamaño */
}

#winLogin{
     top: 40%; /* Coloca el contenedor en el 40% desde la parte superior */
}

#winSignup{
    top: 50%; /* Coloca el contenedor en el 50% desde la parte superior */
}

#winLogin::backdrop{
    background-color: rgba(0, 0, 0, 0.44);
}

#winSignup::backdrop{
    background-color: rgba(0, 0, 0, 0);
}

#cerrarFormLogin, #cerrarFormSignup{
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: black;
    background-color: #b63ebe;
    padding: 0px 6px 3px 6px;
}

#cerrarFormLogin:hover, #cerrarFormSignup:hover{
    background-color: #cf48d7;
}

#cerrarFormLogin:active, #cerrarFormSignup:active{
    background-color: #99339f;
}

.tituloFormLogin, .tituloFormSignup{
    text-align: center;
    margin-bottom: 10px;
}

#loginForm, #altaUsuarioForm{
    display: flex;
    flex-direction: column;
}

#loginForm div, #altaUsuarioForm div{
    margin-bottom: 15px;
}

#loginForm div label, #altaUsuarioForm div label{
    margin-left: 7%;
}

#loginForm div input, #altaUsuarioForm div input{
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 90%;
    box-sizing: border-box;
    margin-left: 5%;
    padding: 2px 0px 2px 5px;
}

.btnsFormLogin, .btnsFormSignup{
    text-align: center;
}

.btnsFormLogin button, .btnsFormSignup button{
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    border-width: 2px;
    background-color: #b63ebe;
    padding: 2px 7px 2px 7px;
}

.btnsFormLogin button:hover, .btnsFormSignup button:hover{
    background-color: #cf48d7;
}

.btnsFormLogin button:active, .btnsFormSignup button:active{
    background-color: #99339f;
}

#nickValido, #correoValido{
    margin-left: 7%;
}

#volumeBar{
    width: 70%;
    margin-top: 10px;
    height: 5px;
    background-color: #862f8c;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    border: 2px solid;
}

#volumeLevel{
    height: 100%;
    width: 50%; /* Inicializa en 50% */
    background-color: #b63ebe;
    border-radius: 5px;
    max-width: 100%;
}

#tipoUsuario{
    background-color: white;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 2px 0px 2px 5px;
    box-sizing: border-box;
    cursor: pointer;
}

/*Resolucion de telefono*/
@media (max-width: 960px){
    .encaPrin{
        display: block;
        padding-bottom: 95px;
        margin: 20px;
    }

    .EspotifyLogo{
        width: 0;
    }

    .EspotifyIMG{
        width: 10vw;
        margin-right: 2vw;
    }

    .EspotifyLogo h1{
        font-size: 6vw;
    }

    .busqueda{
        margin-top: 40px;
        float: right;
        margin-right: 20px;
        width: 80%;
    }

    .userDiv{
        top: 0;
        right: 0;
    }

    .userIMG{
        width: 10vw;
    }

    .listUser p{
        font-size: 2.5vw;
    }

    .userName p{
        max-width: 16vw;
    }

    .dinamico{
        bottom: 0;
        max-width: 80vw;
        min-width: 80vw;
        min-height: 45vh;
        max-height: 45vh;
    }

    .reproductor{
        top: 0;
        width: 80vw;
        align-items: center;
        display: flex;
    }

    .temaRep{
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .temaRep h2{
        font-size: 4vw;
        max-width: 30.7vw;
    }

    .temaRep h3{
        font-size: 3vw;
        max-width: 30.7vw;
    }

    .artIMG{
        width: 15vw;
    }

    .controlRep{
        display: inline-block;
        position: absolute;
        right: 0;
        width: 50%;
        margin-top: -30px;
    }

    .tiempoRep{
        margin-right: 20px;
        margin-left: 20px;
    }

    #progressBar{
        height: 15px;
        margin-top: -3vw;
    }

    #currentTime{
        font-size: 13px;
    }

    .tiempos{
        margin-bottom: 20px;
    }

    #totalTime{
        font-size: 13px;
    }

    .btnsMedia{
        margin-top: 60px;
    }

    .btnsMedia button{
        background-color: black;
        border-style: solid;
        border-radius: 3px;
    }

    #prevBtn{
        left: 10px;
    }

    #nextBtn{
        right: 10px;
    }

    #prevBtn img{
        width: 4.5vw;
    }

    #playBtn img{
        width: 6vw;
    }

    #pauseBtn img{
        width: 6vw;
    }

    #nextBtn img{
        width: 4.5vw;
    }

    #muteBtn img, #unmuteBtn img{
        width: 30px;
    }

    #volumeBar{
        height: 5px;
    }
    
    #tipoUsuario{
        margin-left: 7%; 
    }
    
    .btnsNav{
        font-size: 1.5vw;
    }
}

/*Resolucion de pc*/
@media (min-width: 960px){
    .encaPrin{
        display: flex;
        margin: 10px 40px 20px 40px;
        padding: 10px;
    }

    .EspotifyIMG{
        width: 65px;
        margin-right: 20px;
    }

    .busqueda{
        margin-left: 10%;
        width: 30%;
    }

    .userIMG{
        margin-top: 5px;
    }

    .userName p{
        max-width: 100px;
    }

    .dinamico{
        display: inline-block;
        max-height: 100%;
        min-height: 100%;
        left: 5%;
        max-width: 60%;
        min-width: 60%;
    }

    .reproductor{
        display: inline-block;
        right: 0;
        margin-right: 50px;
        height: 550px;
        padding-right: 40px;
        padding-left: 40px;
    }

    .temaRep{
        margin-top: 35px;
        display: block;
    }

    .temaRep h2{
        font-size: 20px;
        max-width: 198px;
    }

    .temaRep h3{
        font-size: 18px;
        max-width: 198px;
    }

    .artIMG{
        width: 200px;
        margin-bottom: 10px;
    }

    .controlRep{
        margin-top: 30px;
        justify-content: center;
        display: block;
    }

    #progressBar{
        height: 20px;
    }

    .tiempos{
        margin-bottom: 30px;
    }

    .btnsMedia{
        margin-top: 80px;
    }

    .btnsMedia button{
        border-radius: 50%;
        border-style: none;
    }

    #prevBtn{
        left: 0;
    }

    #nextBtn{
        right: 0;
    }
    
    #prevBtn img{
        width: 60px;
    }
    
    #playBtn img{
        width: 65px;
    }
    
    #pauseBtn img{
        width: 65px;
    }
    
    #nextBtn img{
        width: 60px;
    }

    #volumeBar{
        height: 10px;
    }
    
    #tipoUsuario{
        margin-left: 3%; 
    }
    
    .btnsNav{
        font-size: 1vw;
    }
}

@media (min-width: 1400px){
    .dinamico{
        left: 5%;
        max-width: 70%;
        min-width: 70%;
    }
}