<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.espotifyweb.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicarListaServlet</servlet-name>
        <servlet-class>com.mycompany.espotifyweb.PublicarListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>com.mycompany.espotifyweb.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarUsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.espotifyweb.AgregarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeguirUsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.espotifyweb.SeguirUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DejarDeSeguirUsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.espotifyweb.DejarDeSeguirUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaDeAlbumServlet</servlet-name>
        <servlet-class>com.mycompany.espotifyweb.AltaDeAlbumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicarListaServlet</servlet-name>
        <url-pattern>/PublicarListaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarUsuarioServlet</servlet-name>
        <url-pattern>/AgregarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeguirUsuarioServlet</servlet-name>
        <url-pattern>/SeguirUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DejarDeSeguirUsuarioServlet</servlet-name>
        <url-pattern>/DejarDeSeguirUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaDeAlbumServlet</servlet-name>
        <url-pattern>/AltaDeAlbumServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
